In [ ]:
#!pip install pycaret[full]
!pip install scikit-learn==0.23.2 --user

In [7]:
import pycaret

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor # 머신러닝 알고리즘 모형 중
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [3]:
#train.fillna(0,inplace = True)
#test.fillna(0,inplace = True)

# 시간별 평균값으로 na 채우기

def fill_na(df,column):
    print('column : ',column)
    hour_mean = train.groupby('hour').mean()[column]
    
    na_index_list = list( train[ train[column].isnull() ].index )
    
    for ind in na_index_list:
        df.loc[ind, column] = hour_mean[ train.loc[ind,'hour'] ]
        if np.isnan(hour_mean[ train.loc[ind,'hour'] ]):
            df.loc[ind, column] = train[column].mean()
    
    
fill_na(train,'hour_bef_temperature')
fill_na(test,'hour_bef_temperature')

fill_na(train,'hour_bef_windspeed')
fill_na(test,'hour_bef_windspeed')

fill_na(train,'hour_bef_humidity')
fill_na(test,'hour_bef_humidity')

fill_na(train,'hour_bef_windspeed')
fill_na(test,'hour_bef_windspeed')

fill_na(train,'hour_bef_visibility')
fill_na(test,'hour_bef_visibility')

fill_na(train,'hour_bef_ozone')
fill_na(test,'hour_bef_ozone')

fill_na(train,'hour_bef_pm10')
fill_na(test,'hour_bef_pm10')

fill_na(train,'hour_bef_pm2.5')
fill_na(test,'hour_bef_pm2.5')


train.fillna(0,inplace = True)
test.fillna(0,inplace = True)

column :  hour_bef_temperature
column :  hour_bef_temperature
column :  hour_bef_windspeed
column :  hour_bef_windspeed
column :  hour_bef_humidity
column :  hour_bef_humidity
column :  hour_bef_windspeed
column :  hour_bef_windspeed
column :  hour_bef_visibility
column :  hour_bef_visibility
column :  hour_bef_ozone
column :  hour_bef_ozone
column :  hour_bef_pm10
column :  hour_bef_pm10
column :  hour_bef_pm2.5
column :  hour_bef_pm2.5

In [4]:
train = train.drop(['id'],axis=1)
test = test.drop(['id'],axis=1)

In [9]:
train

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
...,...,...,...,...,...,...,...,...,...,...
1454,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [24]:
from pycaret.regression import *

#데이터셋 정의
#어떤 전처리 들을 수행. 
reg_test_1 = setup(data=train,
                   target='count',
                   train_size=0.8,
                   feature_selection=True,
                   fold=5)

In [25]:
compare_models()

In [12]:
et = create_model('et')

In [13]:
cb = create_model('catboost')

# 하이퍼파라미터 튜닝

In [14]:
et = create_model('et')
et = tune_model(et,
                optimize='RMSE',
                n_iter=100, 
               )

In [15]:
print(et)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mae',
                    max_depth=10, max_features=1.0, max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.001,
                    min_impurity_split=None, min_samples_leaf=2,
                    min_samples_split=10, min_weight_fraction_leaf=0.0,
                    n_estimators=160, n_jobs=-1, oob_score=False,
                    random_state=2399, verbose=0, warm_start=False)

In [16]:
# finaiize

final_model = finalize_model(et)

#test set
prediction = predict_model(final_model,
                           data=test)

In [17]:
prediction

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,Label
0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0,101.259375
1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0,221.434375
2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0,50.806250
3,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0,46.462500
4,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0,40.840625
...,...,...,...,...,...,...,...,...,...,...
710,1,24.6,0.0,2.4,60.0,1745.0,0.000,0.0,0.0,65.415625
711,1,18.1,0.0,1.0,55.0,2000.0,0.000,0.0,0.0,58.256250
712,9,23.3,0.0,2.3,66.0,1789.0,0.020,17.0,15.0,113.496875
713,16,27.0,0.0,1.6,46.0,1956.0,0.032,40.0,26.0,164.118750
714,8,22.3,0.0,1.0,63.0,1277.0,0.007,30.0,24.0,166.062500

In [18]:
submission = pd.read_csv("./data/submission.csv")
submission

       id  count
0       0      1
1       1      1
2       2      1
3       4      1
4       5      1
..    ...    ...
710  2148      1
711  2149      1
712  2165      1
713  2166      1
714  2177      1

[715 rows x 2 columns]

In [19]:
submission['count']=prediction['Label']

In [20]:
submission.to_csv("베이스라인.csv",index=False)