## 라이브러리 로딩

In [23]:
!pip install sklearn

Requirement already satisfied: sklearn in d:\minicondas\keras\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in d:\minicondas\keras\lib\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: joblib>=1.0.0 in d:\minicondas\keras\lib\site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in d:\minicondas\keras\lib\site-packages (from scikit-learn->sklearn) (1.23.3)
Requirement already satisfied: scipy>=1.3.2 in d:\minicondas\keras\lib\site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\minicondas\keras\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [24]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor # 머신러닝 알고리즘 모형 중
import numpy as np

## 데이터 로딩 및 확인

In [25]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [5]:
train

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
...,...,...,...,...,...,...,...,...,...,...,...
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [6]:
train.describe()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
count,1459.000000,1459.000000,1457.000000,1457.000000,1450.000000,1457.000000,1457.000000,1383.000000,1369.000000,1342.000000,1459.000000
mean,1105.914325,11.493489,16.717433,0.031572,2.479034,52.231297,1405.216884,0.039149,57.168736,30.327124,108.563400
std,631.338681,6.922790,5.239150,0.174917,1.378265,20.370387,583.131708,0.019509,31.771019,14.713252,82.631733
min,3.000000,0.000000,3.100000,0.000000,0.000000,7.000000,78.000000,0.003000,9.000000,8.000000,1.000000
25%,555.500000,5.500000,12.800000,0.000000,1.400000,36.000000,879.000000,0.025500,36.000000,20.000000,37.000000
50%,1115.000000,11.000000,16.600000,0.000000,2.300000,51.000000,1577.000000,0.039000,51.000000,26.000000,96.000000
75%,1651.000000,17.500000,20.100000,0.000000,3.400000,69.000000,1994.000000,0.052000,69.000000,37.000000,150.000000
max,2179.000000,23.000000,30.000000,1.000000,8.000000,99.000000,2000.000000,0.125000,269.000000,90.000000,431.000000

- id 고유 id
- hour 시간
- temperature 기온
- precipitation 비가 오지 않았으면 0, 비가 오면 1
- windspeed 풍속(평균)
- humidity 습도
- visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)
- ozone 오존
- pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)
- pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)
- count 시간에 따른 따릉이 대여 수 (label)

In [7]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [8]:
test.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

## 결측치 확인 및 처리

In [9]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [11]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [12]:
train.fillna(0,inplace = True)
test.fillna(0,inplace = True)

In [13]:
test.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

## 모델 정의 및 학습

In [14]:

# 트레인 데이터에서 라벨을 빼주는 것!

train_x = train.drop(['count'],axis = 1)
train_y = train['count']

In [15]:
model = RandomForestRegressor(n_estimators=100,n_jobs=-1)
model.fit(train_x,
          train_y)

RandomForestRegressor(n_jobs=-1)

## 학습 된 모델로 예측 데이터 생성

In [16]:
test

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0
...,...,...,...,...,...,...,...,...,...,...
710,2148,1,24.6,0.0,2.4,60.0,1745.0,0.000,0.0,0.0
711,2149,1,18.1,0.0,1.0,55.0,2000.0,0.000,0.0,0.0
712,2165,9,23.3,0.0,2.3,66.0,1789.0,0.020,17.0,15.0
713,2166,16,27.0,0.0,1.6,46.0,1956.0,0.032,40.0,26.0
714,2177,8,22.3,0.0,1.0,63.0,1277.0,0.007,30.0,24.0

In [17]:
pred = model.predict(test)

In [18]:
pred

array([ 93.7 , 229.42,  95.32,  28.13,  59.98, 125.13, 184.52, 320.43,
        27.38, 107.45, 305.75, 266.63, 111.77,  36.15, 215.92, 168.43,
        24.97, 166.  , 354.05, 162.7 , 232.67,  84.39,  17.99, 146.  ,
       140.61, 107.96,  29.44, 124.86, 109.12, 159.44,  67.6 ,  28.11,
        68.3 , 131.65, 268.89,  26.63, 132.91, 102.76, 219.76,  77.18,
        49.62, 123.26, 150.65,  81.56, 325.64, 190.89,  90.39,  63.02,
        19.07,  87.52, 234.76,  90.  , 171.34,  80.01, 192.32, 135.72,
        43.43, 167.95,  16.37,  18.25,  95.04,  87.37, 273.97, 309.93,
       141.44, 313.25,  15.09, 222.23, 104.75,  26.6 , 101.76,  33.44,
       135.7 ,  14.04, 312.64, 238.89,  37.93, 185.07, 243.31,  18.41,
       253.73, 139.92,  92.75,  86.53,  94.19, 325.49,  50.95, 159.6 ,
       111.04, 285.68, 304.97, 161.69,  65.13, 101.11,  40.67,  85.33,
       102.07,  29.37, 212.31, 142.56,  19.03, 150.94,  31.3 , 125.15,
        61.31,  62.12,  99.59,  17.91, 163.91, 112.02, 193.36, 247.89,
       164.33, 115.23,  65.65, 130.9 , 245.01,  37.43, 216.34,  18.48,
       101.14, 115.33, 181.09, 120.14,  44.3 , 120.1 ,  49.49,  15.72,
       229.18,  52.57, 133.51, 152.44,  19.43, 151.4 , 299.58, 134.92,
        45.35, 160.26, 260.3 , 367.04, 205.57,  27.84,  36.33, 107.81,
        88.64, 114.75, 108.6 , 120.42, 151.29, 212.08, 131.13, 296.51,
       335.82, 208.07, 145.26,  16.48, 117.04,  13.06,  90.71, 150.94,
       139.36,  17.34, 207.09, 206.77, 129.04,  14.86, 241.06, 153.79,
       296.27,  16.2 , 126.97, 137.18,  85.76, 129.47,  96.84, 100.11,
       242.96, 210.96, 176.53, 109.85, 221.49, 194.47, 173.24, 256.11,
       149.38, 105.38, 110.8 , 303.9 , 166.72,  42.6 ,  36.35, 138.98,
       127.33, 116.71, 135.17, 262.17, 338.93, 152.14, 126.45, 108.28,
        16.91, 221.25,  14.67, 340.55, 146.11,  34.9 , 135.  , 263.1 ,
       222.08,  63.09, 292.28, 190.78, 131.29, 229.87, 250.04, 123.36,
       244.57, 121.13, 137.09,  93.86,  91.08,  25.36, 103.04,  68.41,
       134.12,  37.27, 215.4 , 184.32,  39.6 , 215.73, 270.42,  99.03,
        18.19,  79.68, 212.9 ,  98.41, 366.71, 317.51, 161.71, 213.31,
        23.55, 229.49,  25.37, 134.54, 149.93,  97.98, 104.38, 230.05,
       102.26,  15.28,  90.08, 263.  , 230.54, 192.45, 139.09, 208.43,
        28.36, 345.29,  84.86,  19.58, 184.75,  26.93, 231.98,  26.59,
       171.05, 237.51,  15.92, 228.98,  87.51, 210.91, 139.09, 108.81,
        52.15, 319.9 ,  18.77, 283.  ,  76.26, 131.74, 221.35,  36.85,
       288.48,  98.95,  17.8 , 174.03, 203.13, 116.39, 244.48, 141.16,
        67.49, 112.11, 117.26, 268.48, 185.89, 124.48, 136.56,  30.36,
       148.48,  42.32, 234.03,  21.72, 108.19, 214.75, 213.24, 233.5 ,
       347.76, 228.45, 134.41,  54.24, 170.28,  89.7 , 275.54, 247.81,
       252.67,  37.67, 260.  , 199.38, 105.83,  39.97,  29.09,  19.12,
       224.45,  35.54, 115.51, 131.04,  87.95, 367.52, 279.96,  98.04,
        88.9 ,  93.75,  30.68,  94.41,  75.04, 193.36, 145.66,  36.34,
       248.18, 247.61, 161.2 , 357.58,  19.41,  20.7 , 313.26, 185.6 ,
       119.3 ,  15.2 ,  29.78,  99.54, 126.29, 305.89, 227.04, 240.92,
        64.51,  45.28, 219.38,  59.41,  21.24,  18.41,  94.74, 106.74,
        64.89, 215.41, 242.94, 201.17, 151.63,  29.94,  75.48,  97.23,
        14.43, 202.24,  96.26,  70.67, 226.28, 309.2 , 226.69,  18.77,
        40.16, 188.15,  99.1 ,  38.32, 134.39, 114.95, 306.06, 290.35,
       123.09,  78.86, 137.12, 168.07, 121.27, 222.16,  39.62, 125.61,
       294.6 ,  50.44, 120.56, 111.74, 272.02,  29.1 ,  30.64, 201.62,
        22.15,  87.35,  15.66, 256.74,  69.86, 114.8 , 144.73, 186.93,
       108.87, 119.54, 173.61, 287.18, 137.8 , 116.37,  44.73, 125.75,
       181.2 , 116.09,  52.34,  47.56,  19.42,  31.41,  18.3 ,  31.37,
       179.48, 116.39,  97.14, 178.52, 115.43, 341.46, 127.82, 186.2 ,
       266.52, 110.14, 111.35, 240.08, 319.67,  32.4 , 115.4 , 350.77,
       254.19, 147.44,  41.13,  97.54, 113.01,  88.24, 102.16,  34.51,
       306.81, 292.37, 235.27, 119.48, 161.46, 227.65, 134.94, 146.92,
       237.26, 103.58,  43.56, 119.9 , 206.2 , 132.1 , 115.62, 114.13,
        87.75, 130.08, 276.24, 101.71, 180.34, 179.  , 241.74,  43.13,
       320.74,  98.51, 170.77, 180.14,  16.28,  29.72, 221.65, 272.36,
        96.47,  99.17,  29.13,  16.82, 242.42, 145.38, 328.59, 258.61,
        85.21, 110.31, 226.91, 170.75,  63.  ,  81.61,  43.42, 193.06,
       115.94, 224.03, 286.66, 208.82,  14.67, 227.54,  48.82,  94.04,
        35.46, 248.08, 225.45,  30.61, 146.21,  75.98, 235.54, 219.38,
       212.64, 200.42, 350.72, 100.09,  31.84, 243.97, 152.56, 138.19,
        31.48, 227.42,  19.  ,  51.57,  17.28,  77.5 ,  32.19, 192.98,
       194.81, 160.76,  32.74,  85.27,  31.94, 302.71,  96.24,  29.6 ,
       100.41,  15.2 ,  45.89,  33.86, 303.87,  17.8 , 184.11, 237.16,
       311.74, 215.29,  97.91, 136.13,  99.22,  94.03, 204.7 ,  36.94,
        21.07, 148.31,  19.24, 189.48, 146.17,  39.56, 148.13, 199.22,
       211.44, 332.6 ,  28.22, 101.4 ,  39.1 ,  36.56,  97.2 ,  98.57,
        29.17, 175.  ,  88.93, 208.14, 128.06, 339.91, 171.09, 284.01,
       131.12, 278.66,  67.29,  32.32,  29.6 ,  37.36,  88.57,  14.62,
        15.65, 104.86,  17.29, 272.66, 246.03, 154.12,  88.22,  98.6 ,
        31.27, 148.15,  95.85, 130.13, 183.44,  14.68, 227.86, 116.49,
        14.  , 262.49, 103.06,  41.62,  86.58, 241.49, 105.7 , 361.84,
       284.59, 222.98, 208.79, 184.37,  20.1 , 114.53, 142.36,  18.77,
        45.32,  93.96, 213.2 , 190.48,  48.67, 180.47,  96.79, 236.06,
       124.71, 306.91,  62.51,  23.65,  17.67, 218.04, 239.96,  87.75,
       115.31,  30.69,  96.17, 147.29, 182.77, 112.41,  95.14,  35.58,
       123.55,  98.34,  63.89, 103.15, 306.63, 134.7 , 260.25, 138.93,
       290.93, 198.61,  69.88, 115.82,  96.1 ,  53.11, 256.65, 261.89,
       105.1 , 120.59, 129.85,  18.76, 128.08, 262.1 ,  28.62,  90.32,
       116.77, 112.24, 190.75, 130.33, 299.56,  87.4 , 105.58, 129.69,
       295.31, 119.84, 162.39, 146.09,  27.68, 183.17,  16.8 ,  28.99,
        17.41, 221.17, 101.44, 161.27, 256.36, 141.08, 136.92,  26.64,
       186.51,  17.51, 142.17,  31.54,  34.12,  95.29,  48.05, 198.71,
        20.6 ,  92.35, 199.52,  31.62, 301.07, 248.48,  17.37, 361.12,
       117.45, 238.31,  39.19,  84.8 ,  29.99, 275.54,  56.31,  65.26,
       122.44, 159.99, 181.28])

## 제출파일 생성

In [19]:
submission = pd.read_csv('./data/submission.csv')
submission

       id  count
0       0      1
1       1      1
2       2      1
3       4      1
4       5      1
..    ...    ...
710  2148      1
711  2149      1
712  2165      1
713  2166      1
714  2177      1

[715 rows x 2 columns]

In [20]:
submission['count'] = pred

In [21]:
submission

       id   count
0       0   93.70
1       1  229.42
2       2   95.32
3       4   28.13
4       5   59.98
..    ...     ...
710  2148   56.31
711  2149   65.26
712  2165  122.44
713  2166  159.99
714  2177  181.28

[715 rows x 2 columns]

In [22]:
submission.to_csv('베이스라인.csv',index = False)

# 베이스라인 코드를 보면서 생각한 것


1. RandomForest 하이퍼 파라미터 서치를 해보자.
2. 결측치를 다 0으로 채워주면 될까? 그 시간대 별 평균을 넣을까? V
3. 시간 변수가 1~24로 되있는데, circular하게 바꾸면 어떨까? encoding (전처리) V
4. 시간대별 분포를 보고, 변수를 추가해볼까? (feature engineering)
5. 수치형 변수들이 많으니 xgboost를 이용해볼까.
6. 해당 데이터의 계절을 알 방법이 없을까? 계절에 따라 탑승량이 다를까?
7. 당연히 id 컬럼은 빼야지 V
8. 예측했더니 소수점이 발생한다. 정수형을 예측해야하니 버림 하자. V
9. 분포 모양을 보고, 정규분포 형태로 바꿔주자.

추가 아이디어를 EDA를 통해 확인해보자!