# Pycaret

머신러닝 방법을 통한 CV 문제 풀이

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret

In [2]:
# 데이터 불러오기 
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')

In [3]:
train_df

,index,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,6,0,0,0,0,0,0,0,5,...,0,0,0,30,43,0,0,0,0,0
3,3,0,0,0,0,1,2,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,4,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,59995,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,59996,1,0,0,0,0,0,0,0,0,...,73,0,0,0,0,0,0,0,0,0
59997,59997,8,0,0,0,0,0,0,0,0,...,160,162,163,135,94,0,0,0,0,0
59998,59998,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,59999,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#학습에 사용하기 위해서는 float형태로 바뀌어야 한다.
train_data = train_df.iloc[:,1:].astype(np.float32)#인덱스를 제외하고 넣기, 데이터들을 float 형태로 바꿔주기. 아니면, Category등 잘못된 형식으로 해석 될 수 있다.
test_data = test_df.iloc[:,1:].astype(np.float32)

In [5]:

from pycaret.classification import *
class_test_1 = setup(data=train_data,
                   target='label',
                   train_size= 0.8,
                   fold=5,)

In [13]:
compare_models()

IntProgress(value=0, description='Processing: ', max=84)

Initiated  . . . . . . . . . . . . . . . . . .             21:59:00
Status     . . . . . . . . . . . . . . . . . .      Fitting 5 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, TT (Sec)]
Index: []

In [6]:
et = create_model('rf')
# finaiize

final_model = finalize_model(et)

#test set
prediction = predict_model(final_model,
                           data=test_data)

87% 정도의 성능

In [12]:
submission = pd.read_csv("./data/sample_submission.csv")
submission['label']=prediction['Label']
submission.to_csv("pycaret.csv",index=False)

Feature가 아니기에, 더 이상 변경의 여지가 없다.